body, html {
	font-family: 'Hack';
	font-weight: bold;
	color: #222;
}
.container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #222;
	display: flex;
	flex-diretion: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.text {
	font-size: 82px;
	line-height: 1.4;
}